* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(237, 205, 255);
  color: rgb(54, 1, 85);
  font-family: sans-serif;
}

textarea {
  height: 65px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-top {
  justify-content: space-between;
  min-height: 55px;
  height: fit-content;
  background-color: rgb(62, 33, 79);
  padding: 2px 10px 2px 0px;
}

.navbar-bottom {
  justify-content: center;
  background-color: rgb(174, 146, 190);
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  height: 100%;
  font-size: large;
  padding: 10px;
  border: solid 2px rgb(144, 98, 170);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav:hover {
  background-color: rgb(126, 75, 155);
}

.navbar-bottom .active {
  background-color: rgb(62, 33, 79);
  color: white
}

.navbar-bottom .disabled {
  background-color: rgb(207, 199, 212);
  color: rgb(88, 88, 88);
  cursor: not-allowed;
}

.navbar img {
  cursor: pointer;
  max-height: 50px;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  font-size: 20px;
  padding: 5px 10px;
  border: solid 2px rgb(62, 33, 79);
}

.close-btn:hover {
  background-color: rgba(62, 33, 79, 0.4);
}

.contract-balances-container {
  display: flex;
  gap: 15px;
}

.contract-balance {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
}

.error-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  background-color: rgb(247, 76, 76);
  padding: 5px 10px;
  text-align: center;
  overflow: auto;
}

.error-bar button {
  font-size: large;
  padding: 2px 6px;
}

.red-p {
  color: red;
  font-size: small;
}

button {
  padding: 7px 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  cursor: pointer;
  color: rgba(62, 33, 79, 1);
  border: none;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.05, 1.05);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.active-campaigns-h2 {
  text-align: center;
  color: rgb(62, 33, 79);
  margin: 30px auto 10px;
}

.active-campaigns-container {
  padding: 25px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.isLoadingContextText {
  padding: 10px 20px;
  background-color: rgb(107, 64, 134);
  color: white;
  font-size: large;
  border-radius: 10px;
  border: 2px solid rgb(33, 3, 51);
  text-align: center;
}

.card {
  width: 250px;
  height: 400px;
  position: relative;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in 0s;
}

.card:hover {
  box-shadow: rgb(46, 19, 61) 5px 5px 15px;
  transform: scale(1.01, 1.01);
}

.card a, .card img{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  height: 45%;
}

.card h3 {
  color: rgb(62, 33, 79);
}

.card ul {
  display: flex;
  justify-content: space-around;
}

.card li {
  list-style-type: none;
  text-align: center;
  max-width: 45%;
}

.card p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-campaignId {
  position: absolute;
  top: 5px;
  right: 7px;
  background-color: white;
  padding: 2px 6px;
  border-radius: 10px;
}

.card-description {
  display: -webkit-box; /* Required for line-clamp */
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-clamp: 3; /* Standard property for compatibility */
  -webkit-box-orient: vertical; /* Required for line-clamp */
}

.card-closed-text {
  color: red;
  font-size: large;
  padding: auto 0px;
}

.card-refund-text {
  color: green;
  font-size: large;
  padding: auto 0px;
}

.divider-line {
  width: 3px;
  background-color: rgb(62, 33, 79);
}

#card-info {
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

progress {
  width: 100%;
}

#newCampaignContainer{
  max-width: 1500px;
  margin: 0px auto;
}

#newCampaignContainer h2{
  margin: 0px auto 10px;
}

#newCampaignContainer button {
  background-color: rgba(62, 33, 79);
  color: white;
  margin: 0px auto;
}

#newCampaignContainer button:hover {
  background-color: rgb(20, 5, 29);
}

#newCampaignContainer form {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px auto 0px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.formFieldBox label{
  margin-bottom: 5px;
}

.formFieldBox {
  background-color: rgb(237, 205, 255);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px 0px;
  border: solid 2px rgb(62, 33, 79);
}

.campaignInfoCard, .contract-panel {
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: 15px auto 0px;
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.campaignInfoCard-top {
  display: flex;
  margin-top: 10px;
}

.campaignInfoCard-topright {
  width: 35%;
}
.campaignInfoCard-topleft {
  width: 65%;
  margin-right: 15px;
}

.campaignInfoCard-topleft p {
  margin: 10px 0px;
  word-break: break-all;
}
.campaignInfoCard-topright img{
  width: 100%;
  height: 100%;
}

.camapignInfo-buttons, .camapignInfo-sendAmountContainer {
  display: inline;
}

.camapignInfo-sendAmountContainer p{
  font-size: smaller;
}

.campaignInfoCard-middle button {
  background-color: rgba(62, 33, 79, 1);
  color: white;
  min-width: fit-content;
  width: 15%;
  margin-left: 10px;
}

.campaignInfoCard-middle button:hover {
  background-color: rgb(94, 37, 128);
}

.campaignInfoCard-middle input {
  font-size: x-large;
  border-radius: 10px;
  width: 30%;
  padding-left: 10px;
  height: 40px;
}

.faucet-url {
  margin-top: 5px;
}

.contract-panel {
  max-width: 1200px;
}

.contract-panel fieldset {
  background-color: #edcdff;
  border-radius: 10px;
  border: solid 2px rgb(62, 33, 79);
}

#deployer-panel {
  padding: 10px 15px;
  margin: 5px 0px 7px;
}

.contract-panel fieldset legend {
  font-weight: bold;
  color: rgb(62, 33, 79);
}

.contract-panel fieldset label {
  margin-right: 15px;
}

.contract-panel-btn {
  background-color: rgba(62, 33, 79, 1);
  color: white;
}

#contract-panel-send-btn {
  margin: 0px auto 20px;
}

.contract-panel-btn:hover {
  background-color: rgba(62, 33, 79, 0.8);
}

.contract-state-container {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.contract-state-option {
  display: flex;
  justify-content: space-between;
  width: 40%;
  min-width: 270px;
  padding: 5px 10px;
  align-items: center;
}

.contract-state-option p{
  font-size: x-large;
}

.contract-state-option button:hover {
  background-color: red;
}

.close-event-details-container {
  margin-top: 15px;
}

.close-event-details-container p {
  margin-bottom: 5px;
}

.funding-table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 100%;
}

.overflow-section {
  overflow-x: auto;
}

.funding-table th, .funding-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.funding-table th {
  background-color: #f2f2f2;
}

footer {
  width: 100%;
  background-color: rgb(62, 33, 79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 25px 10px;
  min-height: fit-content;
  height: 230px;
  margin-top: 50px;
}

footer img {
  width: 30%;
}

footer a {
  color: white;
}

footer a:link {
  text-decoration: none;
}

footer li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  text-align: center;
}


footer li p {
  text-decoration: none;
  margin-top: 7px;
}

@media screen and (max-width: 680px) {
  .navbar-top {
    flex-direction: column;
  }

  .navbar-nav {
    margin: 0px 1px;
    padding: 2px 1px;
  }

  #newCampaignContainer form {
    width: 98%;
    padding: 5px 10px;
  }

  .campaignInfoCard, .contract-panel {
    width: 98%;
    padding: 10px;
  }

  .campaignInfoCard-top {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  
  .campaignInfoCard-topright {
    width: 100%;
  }

  .campaignInfoCard-topleft {
    width: 100%;
    margin-right: 0px;
  }

  .campaignInfoCard-middle {
    display: flex;
    flex-direction: column;
  }

  .campaignInfoCard-middle button {
    width: 70%;
    min-width: fit-content;
    margin-left: 0px;
    margin-top: 5px;
  }
  
  .campaignInfoCard-middle input {
    width: 100%;
  }

  .camapignInfo-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  footer {
    height: 180px;
    margin-top: 25px;
  }

  footer img {
    width: 100%;
  }
}